<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="offset-md-4 col-md-4">
            <div class="card d-block h-100 box-shadow-hover pointer">
                <div class="card-header bg bg-info text-dark">
                    <h4>Login Form</h4>
                </div>
                <div class="card-body">
                    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                        <div class="form-group">
                            <label for="uName">User Name</label>
                            <input type="text" id="uName" class="form-control" required [(ngModel)]="userName" name="userName" #uName="ngModel">
                            <div *ngIf = "uName.invalid && uName.touched" class="alert alert-danger">User Name is required</div>
                        </div><br>
                        <div class="form-group">
                            <label for="pwd">Password</label>
                            <input type="password" id="pwd" class="form-control" required [(ngModel)]="password" name="password" #pwd="ngModel">
                            <div *ngIf = "pwd.invalid && pwd.touched" class="alert alert-danger">Password is required</div>
                        </div>
                        <br>
                        <div class="form-group">
                            <button class="btn btn-info" [disabled]="loginForm.invalid">Login</button>
                        </div>
                    </form>
                    <div *ngIf="errorMessage!=null">
                        <span class="text-danger">{{errorMessage}}</span>
                    </div><br>
                    <span>New User? <a [routerLink]="['/signUp']"><span>click here</span></a></span>
                    
                </div>
            </div>
        </div>
    </div>
</div>
